body {
  background-color: black;
  color: white;
}

#meme {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
}

img {
  border: 5px, solid, white;
  width: 100%;
}

h1 {
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
}